.aboutUs {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
p{
    font-size:20px ;
}
  .aboutInner {
    width: 70%;
    margin: 0 auto;
    justify-content: start;
    text-align: start;
  }
  