.signUpBody{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3a3a3a;
}

.signUpMain {
    display: flex;
    width: 75%;
    height: 75vh;
    background-color: black;
    /* border-radius: 10px; */
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.leftsignUp, .rightsignUp {
    flex: 1;
    position: relative;
}

.leftsignUp img {
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.leftsignUp img:hover {
    transform: scale(1.1);
}
.p-tag{
    color: white;
}
.rightsignUp {
    background: linear-gradient(to right, #000000, #323941);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.signup-link {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: underline;
}

.signup-link:hover {
    color: #fff;
}

.signUp-box {
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.signUp-box h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size: 32px;
}

.signUp-box .user-box {
    position: relative;
    margin-bottom: 30px;
}

.signUp-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
}

.signUp-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.signUp-box .user-box input:focus ~ label,
.signUp-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.signUpButton {
    background: none;
    color: rgb(125, 205, 255);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease;
    z-index: 1;
}

.signUpButton::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgba(0, 0, 0, 0.5);
    width: 300%;
    height: 300%;
    transition: all 0.5s ease;
    z-index: -1;
}

.signUpButton:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.signUpButton:hover {
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.user-type-box, .terms-box {
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
}

.user-type-box label, .terms-box label {
    margin-right: 15px;
    cursor: pointer;
}

.signup-link {
    color: rgb(125, 205, 255);
    cursor: pointer;
    text-decoration: underline;
}

.signup-link:hover {
    color: #fff;
}
