/* .thank-you-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
  
  .thank-you-container.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  h1 {
    color: #4CAF50;
    text-align: center;
    font-size: 2rem;
    margin-top: 100px;
  }
   */